@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

@layer utilities {
    .scrollbar-none {
        scrollbar-width: none;
    }

    .scrollbar-stable {
        overflow: scroll;

        @supports (scrollbar-gutter: stable) {
            overflow: auto;
            scrollbar-gutter: stable;
        }
    }
}